.home{
    margin: 17px;
}

.home .daily-weather{
    border: 2px solid black;
    width: 170px;
    height: 120px;
    display: inline-block;
    margin: 7px;
    text-align: center;
}
.home .weekly-weather{
    border: 2px solid;
    text-align: center;
    padding: 17px;
}
.home .selected-city-box .selected-city{
    margin: 14px;
    left: 0;
    position: relative;
    text-align: left;
    display: inline-block;
}
.home .selected-city-box .selected-city-button {
    font-size: 81px;
    top: -8px;
    display: inline-block;
}
.home .selected-city-box{
    width: 100%;
    position: relative;
}

.home .home-autocomplete{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.home .city-header{
    width: 50%;
    display: inline-block;
}

.home .city-header .inner-box{
    padding: 23px;
}

.home .city-header.left{
    text-align: left;
}

.home .city-header.right{
    text-align: right;
    font-size: 23px;
    top: -1em;
    position: relative;
}

.home .city-header.right span{
    padding: 5px;
    cursor: pointer;
}